{% extends "base.html" %}


{% block body %}

  <div class="flex flex-col justify-center items-center space-y-4">

    <p class="text-2xl font-medium">
      Choose a school
    <p>

    <div class="grid grid-cols-4 gap-4">
      {% for school in schools %}
        <a
          class="p-2 border-2 bg-neutral-300 border-neutral-500 rounded-md"
          href="{{ url_for('home.school', school=school.name) }}"
          >
          {{ school.name }}
        </a>
      {% endfor %}
    </div>

  <hr class="w-full py-2 border-black">

    <div class="flex flex-col">

      <div class="flex flex-row space-x-2">

        <button 
              class="p-2 border-2 bg-neutral-300 border-neutral-500 rounded-md"
              hx-get="/database/update"
              hx-swap="innerHMTL"
              hx-target="#database-updated"
          >
          Update Database
        </button>
        <button 
              class="p-2 border-2 bg-neutral-300 border-neutral-500 rounded-md"
              hx-get="/database/delete"
              hx-swap="innerHMTL"
              hx-target="#database-deleted"
          >
          Delete Database
        </button>
      </div>

      <div id="database-updated"></div>
      <div id="database-deleted"></div>

    </div>

  </div>



{% endblock %}
